<% if @artist %>
    <h1>Equalization Settings for <%= @artist.artist_name %> - <%= @artist.genre.name %></h1>
<% else %>
    <h1>All Equalization Settings</h1>
<% end %>
<ul>
    <% @equalizers.each do |e| %>
        <li><%= e.artist.artist_name %>: <%= link_to e.settings, equalizer_path(e) %></li> 
        <br>
    <% end %>
</ul>